<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

<%- include('./partials/header'); %>

            </div>
        </div>

        <% if (collection.length > 0) { %>
            <% for (var i = 0; i < collection.length; i++) { %>
                <% if (i === 0 || i % 3 === 0) { %>
                    <div class="row">
                <% } %>
                <div class="col-md-4">
                    <img class="img-responsive" src="img/covers/<%= collection[i].releaseID %>.jpg"/>
                    <p><span><%= collection[i].artist %> - </span><span><i><%= collection[i].title %></i></span></p>
                </div>
            <% } %>
        <% } else { %>
            <span>Nothing added yet!</span>
        <% } %>
    </div>

<%- include('./partials/footer'); %>
    
    </body>
</html>
