<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">

<%- include('./partials/header'); %>

            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <a href="/home" class="nav-link"><i class="fa-solid fa-left-long nav-link"></i> Home</a>
            </div>
            <div class="col-md-6">
                <a href="/random" class="nav-link float-end">Next collection <i class="fas fa-right-long nav-link"></i></a>
            </div>
        </div>

        <p><%= username%>'s collection:</p>
    </div>
    
    <div class="container collection">
        <% if (collection.length > 0) { %>
            <% for (var i = 0; i < collection.length; i++) { %>
                <% if (i === 0 || i % 3 === 0) { %>
                    <div class="row">
                <% } %>
                <div class="col-md-4 my-4 text-center">
                    <img class="img-responsive cover" src="img/covers/<%= collection[i].releaseID %>.jpg"/>
                    <p><span><%= collection[i].artist %> - </span><span><i><%= collection[i].title %></i></span></p>
                </div>
                <% if (i % 3 === 2 || i === collection.length - 1) { %>
                    </div>
                <% } %>
            <% } %>
        <% } else { %>
            <span>Nothing added yet!</span><br/><br/>
        <% } %>
    </div>

<%- include('./partials/footer'); %>
    
    </body>
</html>
