<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <script src="./search.js"></script>

    <script>
        function openOverlay() {
            document.getElementById("qr-overlay").style.display = "block";
        }

        function closeOverlay() {
            document.getElementById("qr-overlay").style.display = "none";
        }
    </script>
    
    <div id="qr-overlay" class="qr-overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>
        <div class="overlay-content">
            <img class="qr" src="img/qrCodes/<%= userName %>.svg"/>
            <p style="margin-top: 160px;">https://RecordCollection.online/<%= userName %></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-md-8 offset-md-2">

<%- include('./partials/header'); %>

        <p><%= message %></p>
        <br/>
        <a href="./<%= userName %>">View your collection</a><br/>
        <a href="/random">Browse a random collection</a><br/>
        <br/>
        <a href="javascript:openOverlay();">Share collection with QR code</a><br/>
        <a href="/manage">Account settings</a><br/>
        <a href="/logout">Log out</a><br/>
        <br/>
        
        <p><h4>Add record to collection:</h4></p>
        <form id="searchForm">
            <div>
                <label for="searchTerms">
                    <i class="fas fa-search"></i>
                </label>
                <input type="text" name="searchTerms" placeholder="Search artist or title" id="searchTerms" autocomplete="off">
                <input type="submit" value="Search" onclick="search(event)">
                <input type="submit" value="Clear results" onclick="clear(event)">
            </div>
        </form>
        <br/>
        
        <div id="searchResults">
        </div>
        
        <br/>
        <div id="collection">
            <p><h4>Your collection:</h4></p>
        
            <a href="">Import from discogs</a><br/>
            <a href="">Export to discogs</a><br/>
            <br/>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Date added</th>
                        <th>Action</th>
                    </tr>
                    <%
                        if (collection.length > 0) {
                            collection.forEach(function(data) {
                    %>
                    <tr>
                        <td><%= data.artist %></td>
                        <td><%= data.title %></td>
                        <td><%= data.dateAdded.toLocaleDateString() %></td>
                        <td><a href="/remove?id=<%= data.releaseID %>">Remove</a></td>
                    </tr>
                    <%
                            });
                        } else {
                    %>
                        <tr>
                            <td colspan="4">Nothing added yet! Search by artist or title above to start adding to your collection.</td>
                        </tr>
                    <%
                    }
                    %>
                </table>
            </div>
        </div>

    </div>
    </div>
    </div>

<%- include('./partials/footer'); %>
    
    </body>
</html>
