<%- include('./partials/head'); %>

    <body class="d-flex flex-column h-100">
    
    <!-- Modal -->
    <div class="modal modal-zoom fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <% if (userName == "demo") { %>
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Nice try!</h5>
                    </div>
                    <div class="modal-body">
                        You cannot delete the demo account.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Sorry</button>
                    </div>
                <% } else { %>
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Delete account?</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="window.location='/delete'" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Delete account</button>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
        
<%- include('./partials/header'); %>
            
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4 offset-md-2">
                <a href="/home"><i class="fa-solid fa-left-long"></i> Home</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <p><h4>Manage account:</h4></p>

                <p>
                User name: <%= userName %><br/>
                Email: <%= email %><br/>
                Created: <%= dateCreated %>
                </p>

                <p>
                <a href="/user/logout">Log out</a><br/>
                <a href="#reset-password" data-bs-toggle="collapse">Change password</a><br/>
                <div id="reset-password" class="collapse">                
                    <form id="resetPasswordForm"">
                        <div class="password-container">
                            <label for="registerPassword">
                                <i class="fas fa-lock"></i>
                            </label>
                            <input type="password" name="password" placeholder="New password" id="registerPassword" required>
                            <i class="fas fa-eye" id="registerEye"></i>
                        </div>

                        <div class="password-container ">
                            <label for="registerConfirmPassword">
                                <i class="fas fa-lock"></i>
                            </label>
                            <input type="password" name="confirmPassword" placeholder="Confirm new password" id="registerConfirmPassword" required>
                            <i class="fas fa-eye" id="registerConfirmEye"></i>
                        </div>

                        <div>
                            <input type="submit" class="btn btn-primary btn-sm" value="Change password" onclick="changePassword(event)">
                        </div>
                        <div id="registerStatus" class="m-2">&nbsp;</div>
                    </form>
                </div>
                <a href="#deleteAccountModal" data-bs-toggle="modal" data-bs-target="">Delete account</a>
                </p>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>
    </body>
</html>
