<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

<%- include('./partials/header'); %>

                <p><h4>Hello, <%- username -%></h4></p>
                <p>Please enter a new password:</p>
                
<%- include('./partials/resetPassword'); %>
                
                <p><a href="/home">Home</a></p>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>
    
    </body>
    <script src="../script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var element = document.getElementById("reset-password");
            var collapse = new bootstrap.Collapse(element);
            collapse.show();
        });        
    </script>
</html>

